# ==============================================================================
# GIT INGNORING FILES
# ==============================================================================

# IDE Settings -----------------------------------------------------------------
.vscode
.idea
*.iml
.classpath
.settings
.project
.DS_Store

# Binary files outside external ------------------------------------------------
*.zip
*.tar.gz
*.jar
*.exe

# Python -----------------------------------------------------------------------
.env*
!.env.*
*env
__pycache__
*.egg-info
*.spec

# Project ----------------------------------------------------------------------
preparation/
data/
build/
model/
!.gitkeep
